<section class="box special">
  <span class="image featured"><%= image_tag asset_url("pic02.jpg"), alt: "" %></span>
  <h3>About Us</h3>
  <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
  <!--
  <ul class="actions">
    <li><a href="#" class="button alt">Learn More</a></li>
  </ul>
  -->
</section>
