<h2>McMaster Entrepreneurship Association</h2>
<p>The innovator in you starts here.</p>
<ul class="actions">
  <li><a href="#" class="button special">Events</a></li>
  <li><a href="#" class="button">Learn More</a></li>
</ul>
