<h2>McMaster Entrepreneurship Association</h2>
<p>The innovator in you starts here.</p>
<ul class="actions">
  <li><a href="#events" class="button special events">Events</a></li>
  <li><a href="#sponsors" class="button sponsors">Learn More</a></li>
</ul>
