<header class="major">
  <h2>We're here to connect aspiring entrepreneurs at McMaster</h2>
  <p>Attend our free workshops and events to get involved!</p>
</header>
<span id="tagline" class="image featured"><%= image_tag asset_url("tagline_picture.png"), alt: "" %></span>
