<ul class="icons">
  <li><%= link_to '<span class="icon fa-twitter"></span>'.html_safe, 'https://twitter.com/McMasterEntreps' %></li>
  <li><%= link_to '<span class="icon fa-facebook"></span>'.html_safe, 'https://www.facebook.com/MacEntrepreneurship' %></li>
  <li><%= link_to '<span class="icon fa-envelope"></span>'.html_safe, 'mailto:mcmasterentrepreneurship@gmail.com' %></li>
</ul>
<p class="copyright">&copy; 2015 McMaster Entrepreneurship Association. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
