<h2 id="team-text">Learn More</h2>
<div class="features-row">
  <section>
    <h2 id="team-text">About Us</h2>
    <p>We aim to become the centralized hub of entrepreneurship and startup activities at McMaster. We provide you the tools needed to succeed in entrepreneurial ventures through collaboration with other entrepreneurs, talks, workshops, and information about the Hamilton Area Startup Community</p>
  </section>
  <section>
    <h2 id="team-text">Mission Statement</h2>
    <p>Organize social meetups and engaging activities to connect entrepreneurs at McMaster. Create a friendly, collabarative and approachable environment for aspiring entrepreneurs to get involved in.</p>
  </section>
</div>
