<section class="box special">
  <span class="image featured"><%= image_tag asset_url("pic03.jpg"), alt: "" %></span>
  <h3>Mission Statement</h3>
  <p>Organize social meetups and engaging activities to connect entrepreneurs at McMaster. Create a friendly, collabarative and approachable environment for aspiring entrepreneurs to get involved in.</p>
</section>
